.sidebar{
    
    flex: 1;
    min-height: 100vh;
    border-right: 0.5px solid rgba(192, 188, 188, 0.514);
    .top{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: rgb(19, 121, 238);
        }
    }
    hr{
      height: 0;
      border: 0.5px solid rgba(192, 188, 188, 0.514);
    }
    .center{
        padding-left: 10px;
        
        ul {
           list-style: none;
           margin: 0;
           padding: 0;

           .title{
            font-size: 10px;
            font-weight: bold;
            color: #999;
            margin-top: 15px;
            margin-bottom: 5px;
           }

           li {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            &:hover{
                background-color: #ece8ff;
            }

            .icons{
                font-size: 22px;
                color: #7451f8;
            }
            span{
                font-size: 15px;
                color:#888;
                font-weight: 600;
                margin-left: 10px;
            }
           }
        }
    }

   .bottom{
    display: flex;
    align-items: center;
    margin: 10px;

    .coloroptions{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #7451f8;
        cursor: pointer;
        margin: 5px;


        &:nth-child(1){
            background-color: whitesmoke;
        }
        &:nth-child(2){
            background-color: #333;
        }
        &:nth-child(1){
            background-color: darkblue;
        }
    }
   }
}